body {
    background-color: var(--Pale-blue);
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .card {
    display: flex;
    background-color: var(--White);
    max-width: 50%;
    height: 400px;
    border-radius: 15px;
    
}

.container .card .roxo {
    background-image: linear-gradient(hsl(252, 100%, 67%) 15%, hsl(241, 81%, 54%) 95%);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    border-radius: 15px;
   
}

.container .card .roxo .resultado{
    color: var(--Light-lavender);
    font-weight: 500;
    margin-top: 25px;
}

.container .card .roxo .numero {
    border-radius: 50%;
    height: 140px;
    max-width:140px;
     background-image:linear-gradient(hsla(256, 72%, 46%, 1) 5%,
      hsla(241, 72%, 46%, 0) 98% );
    margin-left:98px;
    margin-top: 15px;
}

.container .card .roxo .numero .valor {
    font-size: 50px;
    font-weight: 800;
    color: var(--White);
    padding: 20px 28px 0px 28px;
    
} 

.container .card .roxo .numero span {
    font-size: 13px;
    font-weight: 700;
    color: var(--Light-lavender);
    margin-bottom:30px;
    padding-bottom: 30px;
}

.container .card .roxo h1 {
    color: var(--Pale-blue);
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px
}

.container .card .roxo p {
    font-weight: 800;
    font-size: 15px;
    padding: 10px 60px;
    color: var(--Light-lavender);
}

.container .card .inf {
  display: flex;
  flex-direction: column;

}











